# Archivos de compilación y configuración de PlatformIO
# Estas reglas se aplican a la carpeta "DetectorDeMentiras"
DetectorDeMentiras/.pio/
DetectorDeMentiras/.vscode/

# Archivos de caché de Python
# Esta regla se aplica a la carpeta "web"
web/__pycache__/

# --- ARCHIVOS PRIVADOS QUE NO SE DEBEN SUBIR ---



# 2. Archivo de claves privadas de la web app
web/config.py

